.main-container {

    display: flex;
    flex-direction: column;
    margin: 0;
}

@media(min-width:1024px) {
    .main-container {
        flex-direction: row;
    }
}

.main-input {

    flex: 1;
    min-height: 65vh;
    display: flex;
    flex-direction: column;
}

@media(min-width:1024px) {
    .main-input {
        flex: 2;
        min-height: 100vh;
    }
}

.output-container {
    flex: 1;
    min-height: 35vh;
    display: flex;
    justify-content: center;
    
}


.output {
    background-color: rgb(229, 238, 247);
    width: 80%;
    height: 40%;
    margin-bottom: 40px;
    margin-top: 45px;
    border-radius: 25px;
    text-align: center;
    font: menu;



}

@media(min-width:1024px) {
    .output {
        width: 70%;
        height: 90%;
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        margin-top: 15px;
        margin-bottom: 15px;

    }
}

.output-tittle {
    font-size: 20px;
}

.output-content {
    font-size: 15px;

    color: grey;
}

.img-search {
    display: none;

}

@media(min-width:1024px) {
    .img-search {
        display: flex;
    }
    .img-search img{
    width: 80%;
    margin:0 auto;


    }
}

@media(min-width:1024px) {
    .output-container {
        min-height: 100vh;
        align-items: center;
        justify-content: flex-end;
        margin-right: 25px;
    }
}

.header-container {
    flex: 1;
}

.header-container img {
    width: 22px;
    height: 30px;
    margin-top: 15px;
    margin-left: 10px;
}

@media(min-width:1024px) {
    .header-container img {
        width: 20px;
        height: 30px;
        margin-bottom: 30px;
        margin-top: 25px;
        margin-left: 50px;
    }
}

.input-container {
    flex: 10;
    display: flex;
    flex-direction: column;

}

.input {
    min-height: 220px;
}


.input textarea {
    width: 100%;
    min-height: 100%;
    resize: none;
    outline: none;
    border: none;
    font: 1.5em sans-serif;
    color: #0A3871;
    margin-left: 10px;
    margin-top: 35px
}

@media(min-width:1024px) {
    .input textarea {
        margin-left: 150px;
        margin-top: 0;
        width: auto;
        font: 1.1em sans-serif;
        

    }


}

.input textarea::placeholder {
    color: #0A3871;
}

.main-buttons-container {
    display: flex;
    flex-direction: column;

}

.tip {
    height: 30px;
    flex: 1;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.tip .icon span {
    font-size: 1em;

}

.tip label {
    font: .8em sans-serif;
    color: dimgrey;


}

@media(min-width:1024px) {
    .tip {
        margin-left: 150px;
        margin-top: 105px;
    }
}

.buttons {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
@media(min-width:1024px){
    .buttons{
        
        flex-direction: row;
        align-items: center;
        margin-left: 150px;
        width: 85%;
        height: 35px;
        border-radius:5%;
    }
        
    
}


.boton {
    font: 10px sans-serif;
    width: 85%;
    height: 45px;
    border-radius: 22px;

}

.encriptar-btn {
    color: white;
    background-color: #0A3871;
    margin-bottom: 10px;
    margin-top: 5px;

}
@media(min-width:1024px){
    .encriptar-btn{
        
        margin-right: 15px;
        
        
    }
}
.desencriptar-btn {
    color: #0A3871;
    background-color: white;
    border-width: 1.5px;

}
